.App {
  text-align: center;
  background-image: url('photo-1533134486753-c833f0ed4866.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes OpenFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes OpenFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes UptoDown {
  from {
    transform: translateY(-20vh);
  }

  to {
    opacity: 1;
  }
}

@keyframes LeftToRight {
  from {
    transform: translateX(-20vh);
  }

  to {
    opacity: 1;
  }
}

@keyframes RightToLeft {
  from {
    transform: translateX(20vh);
  }

  to {
    opacity: 1;
  }
}




/*=================================================*/

.navbar {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;
}

.nav-cont {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  position: -webkit-sticky;
  position: sticky;

}

.nav-cont li {
  float: left;
  font-size: 1.2rem;
}

.nav-cont li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 90px;
  text-decoration: none;
  transition: 0.8s;
  transition: all 0.8s ease-in-out;
  font-weight: 600;
  font-size: 1.2rem;
}

li a:hover:not(.switch-mode) {
  background-color: pink;
  color: black;
  letter-spacing: 5px;
  font-weight: 600;
}

.switch-mode {
  color: #fff;
  text-shadow:
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 6px #fff,
    0 0 9px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 10vh;
  padding: 20vh 10vh;
}

.column {
  flex-direction: column;
  width: 400px;
  height: 640px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 1s;

  animation-name: OpenFadeIn;
  animation-duration: 1s;
}

.card>img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  padding-bottom: 1.8vh;
  border-radius: 10%;
  transition: all 0.8s ease-in-out;
}

.card {
  transition: all 0.8s ease-in-out;
}

.nav-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column:hover:not(.button, .popup) {
  transform: scale(1.1);
  border: unset;
}

button {
  width: 100px;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  border: unset;
  transition: all 1s;
  background: unset;
  height: 30px;
}

button:hover {
  width: 100%;
  background: rgba(250, 248, 213, 0.6);
  white-space: 20px;
  letter-spacing: 5px;
  color: black;
}

/*=============== Switch Theme Toggle ===================*/
/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

*/ .clock {
  width: 100%;
  color: #0fa;
  font-size: 2em;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

/*===============Pop-up Detail===================*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(3px);
  color: wheat;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8vh;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  width: 700px;
  height: auto;
  position: relative;
  transition: all 1s ease-in-out;
  padding-bottom: 5vh;
  text-align: left;
  border-bottom: 1px solid wheat;
  border-right: 2px solid wheat;
  border-left: 2px solid wheat;
}

.popup img {
  width: 100%;
  border-radius: unset;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.3em;
}

.popup .content {
  padding-left: 5vh;
  padding-right: 5vh;
  transform: unset;
}

.popup .close {
  position: absolute;
  top: 6px;
  right: 20px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.toggle_menu {
  top: 200px;
  left: 0px;

}

.toggle_menu img {

  display: none;
  width: 100px;
}

/*=============== Detail ===================*/
.container-detail {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  width: 80%;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  padding-bottom: 5vh;
}

.product-img img {
  width: 50%;
  animation-name: UptoDown;
  animation-duration: 1s;
}

.product-price {
  width: 200px;
  backdrop-filter: blur(4px);
  background-color: rgba(250, 248, 213, 0.2);
  font-size: 1.1rem;
  transform: scale(0.8);
  transition: all 0.6s;
  border-radius: 6px;
}

.product-price:hover {
  transform: scale(0.9);
}

.head-card {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  padding: 5vh 37vh;

  animation-name: LeftToRight;
  animation-duration: 2s;
}

.product-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-bottom-details {
  text-align: left;
  padding: 0vh 40vh;
  font-size: 1.2rem;

  animation: RightToLeft 2s;
  animation-duration: 2s;
}

/*=============== Contact ======================*/
.container-detail {
  height: auto;
  width: auto;
}

.card-container {
  padding-top: 30vh;
  padding-bottom: 20vh;

}

.card-contact {
  width: 780px;
  height: 380px;
  border: 2px solid white;
  padding-left: 10vh;
  padding-top: 5vh;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  text-align: left;
  border-radius: 10px;


}

.information {
  animation: OpenFadeIn 2s;
}

.contact-us {
  border: 1px solid white;
  width: 100%;
  transform: scale(1.3);
  padding-left: 5vh;
  padding-top: 5vh;

  backdrop-filter: blur(20px);
  border-radius: 10px;
  margin-top: -30px;

  animation: RightToLeft 1s;
}

.contact-title {
  text-align: left;
  padding-left: 4px;
}

.label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2vh;
  justify-content: left;
}

input {
  padding: 16px 24px;
  font-size: 1.2rem;
  width: 50%;
}

.label button:hover {
  width: 61.2%;
}

/*=============== Navbar- Icon ======================*/
.navbar-icon {
  width: 30px;
  height: 30px;
  display: none;
}


.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;

  animation: OpenFadeIn linear 0.2s;
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;
  height: 100%;
  transform: translateX(-100%);
  transition: all 1s;
}

.nav-mobile-list {
  list-style: none;
  float: left;
  list-style-type: none;
  -webkit-padding-start: 0;
}

.nav-mobile-link {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 0;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2vh;
  transition: all 1s;
  text-align: left;
  padding-top: 4vh;
}

.nav-mobile-list {
  padding: 6px 16px;
}

.navbar-close-mobile {
  font-size: 5rem;
  font-weight: 900;
  text-decoration: none;
  color: black;
}

#nav-mobile-input:checked~.overlay-menu {
  display: block;
}

#nav-mobile-input:checked~.nav-mobile {
  transform: translateX(0%);
}
.navTop-mobile{
  display: none;
}

.container-detail-mobile{
  display: none;
}

.contact-us-mobile{
  text-align: center;
}
/*===============RESPONSIVE======================*/

@media screen and (min-width:330px) and (max-width: 1023px) {
  .navbar-pc {
    display: none;
  }

  .navbar {
    background: unset;
    box-shadow: unset;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    border: unset;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;

  }

  .navTop-mobile {
    display: flex;
    justify-content: space-between;
    padding: 16px 64px;

  }

  .toggle_menu img {
    display: block;

  }

  .navbar-icon{
    display: block;
  }
  .navbar-mobile {
    display: block;
  }


  /* =============================================== */

  .container-detail{
    display: none;
  }

  .container-detail-mobile{
    display: block;
  }

  .contact-us-mobile{
    padding: 32px 10vh;
    text-align: left;
  }

  .information-mobile{
    padding: 10vh;
    padding-right: 3vh;
    text-align: left;
  }
}